@{
    ViewBag.Title = "Cape";
}

<h3>Cape</h3>
<a href="'Staff/Index'">back</a>
<div id="divCapeContent">
    <table>
        <thead>
            <tr>
                <th>Class</th>
                <th>Instructor</th>
                <th>Cape Average</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CSE136</td>
                <td>Isaac Chu</td>
                <td>8.9</td>
            </tr>
            <tr>
                <td>CSE141</td>
                <td>Isaac Chu</td>
                <td>7.1</td>
            </tr>
            <tr>
                <td>CSE141L</td>
                <td>Isaac Chu</td>
                <td>5.22</td>
            </tr>
        </tbody>
    </table>


</div>


